<div class="grid grid-cols-1 justify-center justify-items-center mx-8">

  <div class="container h-min md:w-96 p-4 mt-24 bg-white rounded-xl shadow-lg flex-auto flex-col justify-center">
    <div class="rounded">
      <img class="img rounded-xl size-full" src="./image-qr-code.png" alt="QR Code">
    </div>
    <div class="mt-4 pb-8 px-10">
      <h2 class="text-2xl font-bold text-darkblue text-center">Improve your front-end skills by building projects</h2>
      <p class="text-15px text-grayblue text-center mt-2">Scan the QR Code to visit Frontend Mentor and take your
        coding
        skills
        to the next
        level</p>
    </div>
  </div>

</div>